

.landing-page {
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height: 90vh;
    background-position: cover;
    background-size: cover;
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.banner-text {
    position: absolute;
    margin: 0 2rem;
    top: 30%;
}

.banner-text h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #01010a;
}

.banner-text span {
    color: rgb(237, 9, 9);
}

.banner-description {
    width: 60%;
    line-height: 1.2;
}

.banner-description p {
    font-size: 1.5rem;
    color: #ffff;
    font-weight: 400;
    font-family: monospace;
}

.banner-suscribe Button {
    background: gray;
    border: none;
}
.wrapper-heading
{
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.wrapper-heading h1
{
    color: #343a40;
    font-size: 3rem;
    font-weight: 600;
}
.container-card
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20;
    margin-top: 2rem;
}
.card-container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
    min-height: 65vh;
  }
  .card-container:hover
  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-container h1
  {
      font-weight: 900;
      font-size: 2rem;
  }
  .card-container p
  {
      font-size: 1rem;
      color: black;
  }
  .card-container img
  {
      width: 100%;
      display: block;
      padding: 1rem;
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card-container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 1rem;
  }
  
  .card-container button:hover {
    opacity: 0.7;
  }
  
  /*...Slider....*/
.slider-container
{
    width: 100%;
    margin: 0 auto;
}
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image
{
    width: 100%;
    background-size: cover;

}
.right-arrow {
    position: absolute;
    top: 30%;
    right: 32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 30%;
    left: 32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

  @media only screen and (max-width: 760px)
  {
    .container-card
    {
        flex-direction: column;
    }
    .banner-description p
    {
        font-size: 1.2rem;
    }
    .wrapper-heading h1
    {
        text-align: center;
        font-size: 2.5rem;
    }
  }